h3:before {
  content: 'image';
  width: 4em;
  height: 4em;
  border-radius: 100%;
  display: inline-block;
  background: url(https://s3.amazonaws.com/mytime_prod/attachments/94175/large_arm/JoeSmithHair4.jpg?1430859321);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 4em;
  margin: 10px;
  color: transparent;
}
