@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  /* margin: 0;
  padding: 0; */
}

html {
  font-family: 'Ubuntu', sans-serif;
  /* background: #222;
  color: #fff; */
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  text-align: center;
}

md-spinner {
  margin: 0 auto;
}
/*

router-outlet + * {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 60%;
  height: 60%;
  min-width: 320px;
  max-width: 800px;
  min-height: 50px;
}

router-outlet + * > .title,
router-outlet + * > .content {
  flex: 0 1;
  align-self: center;
}

router-outlet + * > .title {
  text-align: right;
  white-space: nowrap;
}

router-outlet + * > .content {
  box-shadow: -6px 0 1px #f90;
} */
